img{width: 80px;height: 70px;}
ul{list-style-type:disc;}
ul{position: relative;top:320px}
h1{position: relative;top:320px}
li{position:relative;top:20px}

span{width:135px;height:20px;position: relative;top:-80px;left:180px}
.c{position:relative;;top:-35px;left:90px}
